.book-list-head {
    margin-top: 2rem;
    padding: 0 10%;
}
.book-list-head span {
    font-weight: bold;
}
li {
    display: flex;
    list-style: none;
    /* border-top: 1px solid #bbb; */
    padding: 1.6rem 0.5rem;
}
li:nth-child(odd) {
    background-color: rgba(159, 185, 255, 0.1);
}
ul {
    margin: 0;
    padding: 2.4rem 10%;
}
span {
    font-size: 2rem;
    font-weight: normal;
    align-self: center;
    display: inline-block;
}
.book-title {
    width: 40%;
}
.book-author {
    width: 25%;
}
.book-read {
    width: 10%;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    text-align: center;
}
.btn {
    color: white;
    font-size: 2rem;
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn {
    background-color: rgba(165, 138, 19, 0.8);
}
.delete-btn {
    background-color: rgba(153, 65, 42, 0.8);
}
.edit-btn:hover {
    background-color: rgba(124, 101, 0, 0.8);
}
.delete-btn:hover {
    background-color: rgba(145, 29, 0, 0.8);
}




/* Form Style */
.form-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(50, 50, 60, 0.7);
}
form {
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 3rem 3rem 1rem 3rem;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: #444;
    box-shadow: 2px 2px 3px #aaa;
}
label{
    color: #eee;
    display: block;
    font-size: 1.6rem;
}
input {
    color: black;
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
p {
    margin-top: -1rem;
    font-size: 1.2rem;
    color: #aaa;
}
.send-book {
    font-size: 1.8rem;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(44, 86, 150);
    display: block;
    cursor: pointer;
}
.abort-btn {
    background-color: rgba(153, 65, 42, 0.8);
}
.hidden {
    display: none;
}
.alert {
    color: red;
}