/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
    font-weight: bold;
}